@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto px-3 sm:max-w-[540px] sm:px-0 md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] xxl:max-w-[1296px];
  }

  .display-3 {
    @apply text-3xl font-semibold !leading-tight md:text-5xl lg:text-[56px] xl:text-[64px];
  }

  .display-4 {
    @apply text-3xl font-semibold !leading-tight md:text-4xl lg:text-[48px] xl:text-[56px];
  }

  .h1 {
    @apply text-3xl font-semibold !leading-tight md:text-4xl lg:text-[48px];
  }

  .h2 {
    @apply text-xl font-semibold !leading-tight sm:text-2xl lg:text-3xl xxxl:text-[40px];
  }

  .h3 {
    @apply text-xl font-medium leading-tight sm:font-semibold lg:text-2xl xxxl:text-[32px];
  }

  .h4 {
    @apply text-lg font-medium md:text-xl md:font-semibold xxxl:text-2xl;
  }

  .h5 {
    @apply text-base font-medium md:text-xl md:font-semibold;
  }

  .h6 {
    @apply text-base font-medium;
  }

  .btn {
    @apply inline-flex items-center gap-2 rounded-[32px] border border-primary bg-primary px-3 py-1.5 text-sm font-medium text-n0 shadow-lg duration-300 hover:bg-transparent hover:text-primary hover:shadow-none dark:shadow-none sm:px-4 sm:py-2 md:text-base lg:px-6 xxl:px-8 xxl:py-2.5;
  }

  .btn-outline {
    @apply btn bg-transparent text-primary shadow-none hover:bg-primary hover:text-n0;
  }

  .btn-white {
    @apply btn border-white bg-white text-primary hover:bg-white;
  }

  .box {
    @apply rounded-2xl border border-n30 bg-n0  dark:border-n500 dark:bg-bg4;
  }

  .arrow-top {
    @apply after:absolute after:top-[-12px] after:border-b-[12px] after:border-l-[12px] after:border-r-[12px] after:border-b-n0 after:border-l-transparent after:border-r-transparent dark:after:border-b-bg4 ltr:after:left-4 rtl:after:right-4;
  }

  .arrow-bottom {
    @apply after:absolute after:bottom-[-12px] after:border-l-[12px] after:border-r-[12px] after:border-t-[12px] after:border-l-transparent after:border-r-transparent after:border-t-primary ltr:after:right-4 rtl:after:left-4;
  }

  .bb-dashed {
    @apply border-b-4  border-dashed border-primary/20;
  }
  .bt-dashed {
    @apply border-t-4 border-dashed border-primary/20;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

input:checked + div {
  @apply border-primary;
}

input:checked + div svg {
  @apply block;
}

@layer base {
  .event-unset {
    pointer-events: unset;
  }

  td,
  p,
  span {
    @apply text-sm md:text-base;
  }
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input:focus,
  textarea:focus {
    outline: none;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

table thead tr th:first-of-type {
  @apply sm:rounded-tl-lg;
}

table thead tr th:last-of-type {
  @apply sm:rounded-tr-lg;
}

table tbody tr:last-of-type td:first-of-type {
  @apply sm:rounded-bl-lg;
}

table tbody tr:last-of-type td:last-of-type {
  @apply sm:rounded-br-lg;
}

:root {
  --primary: #5d69f4;
}
